<div id="form">
    <div class="container">
       <div class="center">
          <h2>Update</h2>
       </div>
 <div class="forms">
 <div class="form-group">
  <label for="exampleInputPassword1">FIRST NAME</label>
  <input type="text" class="form-control" [(ngModel)]='user.firstname' name="firstname" #firstname>
 </div><br>
 <div class="form-group">
  <label for="exampleInputPassword1">LAST NAME</label>
  <input type="text" class="form-control" [(ngModel)]='user.lastname' name="lastname" #lastname>
 </div><br>
 <div class="form-group">
  <label for="exampleInputPassword1">MAIL ID</label>
  <input type="email" class="form-control" [(ngModel)]='user.email' name="email" #email>
 </div><br>
 <div class="form-group">
  <label for="exampleInputPassword1">CONTACT</label>
  <input type="text" class="form-control" [(ngModel)]='user.phone' name="phone" #phone>
 </div><br>
 <div class="form-group">
  <label for="exampleInputPassword1">PASSWORD</label>
  <input type="text" class="form-control" [(ngModel)]='user.password' name="password" #password>
 </div><br>
 <div class="form-group">
  <label for="exampleInputPassword1">CONFIRM PASSWORD</label>
  <input type="text" class="form-control" [(ngModel)]='user.confirm_password' name="confirm_password" #confirm_password>
 </div><br>
 <div class="center">
    <button id="submit" (click)='edit()' class="btn btn-success">UPDATE</button>
 </div>
 </div>